/*Buttons*/

.buttons{
    /*background-color: rgba(128, 128, 128, 0.39);*/
    width: 26rem;
    height: 20rem;
    border: 0.1rem solid black;
    padding-left: 2rem;
    box-sizing: border-box;
    h1{
      font-size: 4rem;
    }
  }
  .btn:link,
  .btn:visited{
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 0rem;
    font-size: 1.4rem;
    /*border: 0.1rem solid black;*/
  
    
  }
  
  .btn-black{
    background-color: $color-cream;
    color: black;
    border: 0.1rem solid black;
    
    
    &:hover{
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }
    &:active{
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
    }
  
  }
  
  .btn-gold{
    background-color: white;
    color: $color-gold;
    border: 0.1rem solid $color-gold;
    
  
    &:hover{
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }
    &:active{
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
    }
  
  }