.header-hp{
    height: 15rem;
    background-color: $color-cream;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

#header-wrap{
  width: 1200px;
  height: 100px;
  margin: 0px auto;
  // background-color: #fff;
}

.logo-box-hp{
  width: 100px;
  position: relative;
  img{
    width: 100%;
  }

}

#header-nav{
  width: calc(100% - 85px);
  position: relative;
  #top-nav{
    width: 60%;
    position: absolute;
    right: 0px;
    .nav{
      width: 100%;
      margin: 0px;
    }
  }
  hr{
    width: 99%;
    border: none;
    border-bottom: 1.3px solid $color-gold;
    position: absolute;
    top: 49px;
    right: 0px;
  }

}

.mta{
  position: absolute;
  text-align: center;
  top: 0px;
  left: 110%;
  p{
    width: 100%;
  }
}

.body-hp{
    width: 1200px;
    margin: 0px auto;
    section{
      width: 100%;
      @include padding(2rem 0rem);
    }
}

.cover-hp{
    width: 100%;
    img{
      width: 100%;
    }
} 

#video-playlist{
    width: 72rem;
    height: 40.5rem;
    background-color: $color-black;
    iframe{
      width: 100%;
    }
}

.music{
    width: 37rem;
    height: 36rem;
    background-color: $color-cream;
  }

 
.client{
    width: 26rem;
    height: 26rem;
    border: 1px solid $grey;
    position: relative;
    p{
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      span{
        display: block;
      }
    }
}

.image-container-hp{
    position: absolute;
    border: 1px solid $light-grey;
    height: 54rem;
    width: 54rem;
}
.pr-hp{
  position: relative;
  left: 35%;
  transform: translateY(-7%);
}

.item-hp{
  width: 26rem;
  height: 26rem;
  border: 0.1rem solid lightgray;
  position: relative;
  @extend .mg-v-20 ;
  .pr-image{
    width: 100%;
    height: 200px;
    text-align: center;
    overflow: hidden;
    img{
      width: 80%; 
      object-fit: contain;
      padding-top: 2rem;
    }
  }
  .pr-info{
    width: 100%;
    height: 5rem;
    text-align: center;
    position: absolute;
    bottom: 0px;
  }
  &:hover{
    border: 0.1rem solid $color-gold;
    color: $color-gold;
  }
}

.store-items{
  background-color: $color-cream;
  border: 1px solid #ccc;
  padding: 50px 0px;
}

#main-item{
  grid-area: main;
  height: 600px;
}

#item2{
  grid-area: item2;
}

#item3{
  grid-area: item3;
}

#item4{
  grid-area: item4;
}

#item5{
  grid-area: item5;
}

#store-grid{
  display: grid;
  grid-template-areas: 
  'main main item2 item3'
  'main main item4 item5';
  grid-gap: 20px;
}



// NEWS PAGE 

.news-item{
  width: 100%;
  transition: .3s ease-in-out all;
  border-bottom: 1px dashed rgba(0,0,0,0.1);
  padding: 30px 0px;
  .newsImg{
    width: 48%;
    height: 300px;
    background-color: $color-cream;
    border: 1px solid rgba(0,0,0,0.6);
  }

  .newsInfo{
    width: 48%;
    line-height: 28px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    button{
      bottom: 0px;
      position: absolute;
    }
  }
  &:last-child{
    border-bottom: 0px;
  }
}

.heroImg{
  width: 100%;
  height: 500px;
  background-color: $color-cream;
}

article{
  padding: 20px 50px;
}

// BIO

.bioImg, .bioInfo{
  width: 48%;
}

.bioImg{
  img{
    width: 100%;
    min-height:300px;
  }
  div{
    p span{
      display: block;
    }
  }
}

.sub-parts{
  width: 30%;
}

.stats{
  width: 20%;
  p{
    font-size: 70px;
    color: $color-gold;
    text-align: center;
    @extend .playfair;
    span{
      display: block;
      color: black;
      @extend .playfair-lg , .b;
    }
  }
}



.input{
  width: 800px;
  margin: 50px auto;
  input{
    @extend .lato;
  }
  textarea{
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 1px solid #f3f3f3;
  }
}

form>button{
  margin: 0px auto;
}

#contactFormBtn{
  margin: 0px auto;
}