.header-instruments{
    height: 15rem;
    background-color: $color-cream;
    background-size: cover;
    position: relative;


    .logo-box{
        text-align: center;
        padding-top: 4.5rem;
        
        .logo{
            height: 6rem;
        }
    }
}

/*Products page*/

.product-container{
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    @extend .fl-btw ;

    .image-container{
        width: 45%;
        text-align: center;
    }
    .text-container{
        width: 45%;
        line-height: 24px;
    }
}

/*Cart page*/

.cart-container{
    width: 100%;
    max-width: 1000px;
    margin: 0px auto; 
    h1{
        text-align: center
    }

    .item-container{
        @extend .fl-btw ;
        width: 100%;
        height: 150px;
        border-bottom: 1px solid $light-grey;
        @extend .pd-20 ;
        .item-desc{
            .image-container{
                height: 130px;
                width: 130px;
            }
        }
    }
}

.total{
    p{
        line-height: 30px;
    }
    .price-spans{
        display: inline-block;
        width: 150px;
    }
}


/*checkout Page*/

.checkout-form{
    margin-top: 30rem;
    transform: translateX(30rem);
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.4rem;
    }
    .textbox3{
     
        overflow: hidden;
        font-size: 2rem;
        padding: 0.8rem 0;
        margin: 0.8rem 0;
        input{
          width: 40%;
          height: 4rem;
          font-size: 1.8rem;
          padding-left: 1rem;
          border: 0.1rem solid $color-black;
          
        }
      }
      a{
          width: 40%;
          text-align: center;
      }
}